<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLEnD: Login</title>
</head>
<body>
    <div class="container">
        <h1>BLEnD</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email Address">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login to BLEnD">
        </form>
    </div>
</body>
</html>
